<h1>New Attendance Record</h1>
<%= form_for(@attendancerecord) do |f| %>





  <div>

    <%= f.label :attendancetype, "Attendance Type" %>
    <%= f.select :attendancetype, [[],'Present','Late, Excused','Late, Unexcused','Absent, Excused','Absent, Unexcused'] %>
    <br>
    <%= f.label :note, "Excuse Note" %>
    <%= f.text_area :note %>

  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back', attendancerecords_path %>
